<?xml version="1.0" encoding="UTF-8"?>
<module>
  <id>5de546aa-061f-4e6c-a2f5-0f9c4c4cc66a</id>
  <name>Attivio Search</name>
  <version>1.0</version>
  <assemblies>
    <assembly>
      <fullname>Com.PerkinElmer.Service.AttivioSearch, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>Com.PerkinElmer.Service.AttivioSearch.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="Com.PerkinElmer.Service.AttivioSearch.CustomAddIn, AttivioSearch, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
</module>