<?xml version="1.0" encoding="UTF-8"?>
<module>
  <id>4007cc3e-5d65-403d-a237-bc3cd3866c39</id>
  <name>Attivio Search</name>
  <version>1.0</version>
  <assemblies>
    <assembly>
      <fullname>Com.PerkinElmer.Service.AttivioSearch, Version=1.0.0.2, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>Com.PerkinElmer.Service.AttivioSearch.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="Com.PerkinElmer.Service.AttivioSearch.AttivioSearchAddIn, Com.PerkinElmer.Service.AttivioSearch, Version=1.0.0.2, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
</module>